fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
alembic
requests
tqdm
passlib[bcrypt]
pydantic
python-dotenv
pyyaml
xmltodict
python-jose[cryptography]
python-multipart
spyne
lxml
pydantic[email]
dicttoxml==1.7.16
PyYAML==6.0.1